<!DOCTYPE html>
<html lang="en">
<head>
<!-- META SECTION -->
<title>Services</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END META SECTION -->
<!--  BEGIN STYLE -->
<style>
body {
    background-color: #eaeae1;
}

table, th, td {
    border: 3px solid black;
    padding: 7px;
   
}


.centershow1 {
    text-align: center;
}

</style>
</head>
<body>
<div class="centershow1">
	<h2>Compatability status</h2>
                      <center>
<table>
				<thead>
					<tr>
						<th>Service1_Name</th>
						<th>Service1_Version</th>
						<th>Service2_Name</th>
						<th>Service2_Version</th>
						<th>Compatable</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="compatable : ${compatables}">
					        <td th:text="${compatable.service1_name}">  ----- </td> 
						<td th:text="${compatable.service1_version}"> ----- </td>
						<td th:text="${compatable.service2_name}"> -----  </td>
						<td th:text="${compatable.service2_version}"> ----  </td>
						<td th:text="${compatable.compatable}"> ----  </td>
					</tr>
				</tbody>
			</table>	
</center>
</div>
</body>
</html>
