<!DOCTYPE html>
<html lang="en">
<head>
<!-- META SECTION -->
<title>Services</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- END META SECTION -->
<!--  BEGIN STYLE -->
<style>
body {
    background-color: #eaeae1;
}

table, th, td {
    border: 3px solid black;
    padding: 7px;
    margin-left: 33%;
}
.centershow {
    text-align: center;
}
.centeradd {
    text-align: center;
    padding-top: 3%;
}
</style>
<!--  END STYLE -->

</head>
<body>
		<div class="centershow">
			<h2>Current Services</h2>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Descritption</th>
						<th>Version</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="person : ${persons}">
					        <td th:text="${person.id}">  ----- </td> 
						<td th:text="${person.name}"> ----- </td>
						<td th:text="${person.description}"> -----  </td>
						<td th:text="${person.version}"> ----  </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="centeradd">
 				<h2>Add A Service</h2>
 				<form action="#" th:action="@{/}" method="post">
 					<label>Name<input type="text" name="name" id="name"></input></label>
 					<label>Description<input type="text" name="description" id="description"></input></label>
 					<label>Version<input type="text" name="version" id="version"></input></label><br/><br/>
 					<input type="submit" value="Submit"></input>
 				</form>
 		</div>
</body>
</html>
